
  <div class="row px-3">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="linechart"
            style = "width: 100%; height: 400px; display: block;">
        </highcharts-chart>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-2">
          <div class="d-grid gap-2">
            <button class="btn btn-outline-light active-gray d-flex justify-content-between">
              <span class="btn-badge gray"></span>
              <span class="">Clicks</span>
              <span class="btn-text">12345</span>
            </button>
            <button class="btn btn-outline-light active-orange d-flex justify-content-between">
              <span class="btn-badge orange"></span>
              <span>Click Through</span>
              <span class="btn-text">12345</span>
            </button>
            <button class="btn btn-outline-light d-flex active-blue justify-content-between">
              <span class="btn-badge blue"></span>
              <span>Cost per Click</span>
              <span class="btn-text">12345</span>
            </button>
            <button class="btn btn-outline-light d-flex active-green justify-content-between">
              <span class="btn-badge green"></span>
              <span>Total Spent</span>
              <span class="btn-text">12345</span>
            </button>
            <button class="btn btn-outline-light active-deep-purple d-flex justify-content-between">
              <span class="btn-badge deep-purple"></span>
              <span>Impressions</span>
              <span class="btn-text">12345</span>
            </button>
            <button class="btn btn-outline-light active-pink-floyd d-flex justify-content-between">
              <span class="btn-badge pink-floyd"></span>
              <span>Cost Per 1k Impressions</span>
              <span class="btn-text">12345</span>
            </button>
            <button class="btn btn-outline-light active-green d-flex justify-content-between">
              <span class="btn-badge green-day"></span>
              <span>Reach</span>
              <span class="btn-text">12345</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
