.caseyouneed-form-style {
  border-color:#E8EBF3;
  height:45px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  color:#8C8C9B;
}
.caseyouneed-input-group-style {
  background-color: #0CD4F5;
  border: 1px solid #0CD4F5;
  border-radius: 10px;
  color:#fff;
}
